<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Edit Your Post</h1>

    <div class="post">
        <h3>post id:<%= post.id %></h3>
        <h3 class="user">@<%= post.username %></h3>
    </div>

    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content" id="", rows="5", cols="25"><%= post.content %></textarea>
        <br><br>
        <button>Submit</button>
    </form>
    
</body>
</html>